{% extends 'base.html' %}

{% block content %}
<div class="auth-wrapper">
  <div class="auth-card">
    <img src="{{ url_for('static', filename='img/raw.png') }}" alt="Logo">
    <h2>Welcome Back</h2>
    <p>Sign in to your account</p>
    <form method="POST">
      <div class="mb-3 text-start">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
    </div>
      <div class="mb-3 text-start">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Sign In</button>
    </form>
    <a href="/register" class="link">Don't have an account? Create one</a>
  </div>
</div>
{% endblock %}